@font-face {
  font-family: 'Montserrat';
  src: url('./src/assets/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Danger';
  src: url('src/assets/dangerfont.medium.otf');
}

@font-face {
  font-family: 'Collegiate';
  src: url('./src/assets/SF\ Collegiate\ Solid.ttf');
}


.container{
  background-color:#1B1B1B;
  padding-bottom: 40px;
  height: max-content;
  header{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    h1{
      color: #FFC800;
      font-size: 3rem;
    }
    nav{
      ul{
        list-style: none;
        display: flex;
        gap: 12px;
       
        li{
          color: #FFFFFF;
          font-size: 1.2rem;
          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .main{
    padding: 20px;
    .form {
      .errorSpan{
        display: block;
        font-size: 0.825rem;
        margin: 4px 0px;
        font-weight: bold;
        color: #d90429;
        font-family: 'Montserrat';
      }
      input,select{
        display: block;
        margin: 4px 0px 20px 0px ;
        width: 300px;
        padding: 6px 8px;
        background-color: #2C2C2C;
        border-radius: 8px;
        border: 2px solid #3D3D3D;
        outline: none;
        color: #FFFFFF;
        &:focus{
          color: #FFFFFF;
          border-color: #FFFFFF;
        }
      }
    label{
      color: #FFFFFF;
      font-family: 'Helvetica';
    }
   
    }
  }

  .btn1,.btn2,.btn3{
    padding: 8px 48px;
    border-radius: 8px;
    background-color: #222222;
    color: #FFC800;
    text-transform: uppercase;
    border: 2px solid #363636;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    margin-right: 12px;
    &:hover{
    cursor: pointer;
    }
    }

    .btn3{
    display: none;
    }

    .btn2{
    position: absolute;
    margin-top: -56px;
    margin-left: 180px;
    }
  .tableContainer{
    font-family: 'Collegiate';
    display: none;
    position: relative;
    width: max-content;
    font-size: 1.5rem;
    color: #FFFFFF;
   
    .table{
      width: 1200px;
      background-color: #363636;
      border: 2px solid #FFC800;
      .header{
        th{
          background-color: #1B1B1B;
          padding: 12px;
          border: 2px solid #FFC800;
        }
        }
      .content{
        td{
          background-color: #1B1B1B;
          border: 2px solid #FFC800;
          text-align: center;
          padding: 8px;
        }
      } 
      }
      .btnPdf{
        position: absolute;
        top: 12px;
        right: 60px;
        background-color: transparent;
        border: none;
        &:hover{
          cursor: pointer;
        }
      }

      .btnClear{
        position: absolute;
        top: 12px;
        right: 10px;
        background-color: transparent;
        border: none;
        &:hover{
          cursor: pointer;
        }  
      }
    }
  }

  @media(max-width:500px){
    .container{
      padding-bottom: 60px;
      header{
        h1{
          font-size: 2rem;
        }
        nav{
          ul{
            li{
              font-size: 1rem;
            }
          }
        }
      }
      .main{
        .form{
          input{
            width: 200px;
          }
        }
        .tableContainer{
          margin-left: -20px;
          font-size: 1rem;
          .table{
          margin-top: 60px;
        
          }
          button{
            right: 992px;
            top: -60px;
            font-family: 'Montserrat';
            
            &::after{
              content: 'Baixar PDF';
              display: inline-block;
              width: 300px;
              height:20px ;
              margin-bottom: 20px;
          }
        }
       
      }
      }
      
  }
}

